:root{
    --laranja: #ee620c;
    --corDeFundo: rgba(0, 0, 0, 0.832);
}



/*Navbar*/
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.832);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: auto;
    transition: 0.5s;
    padding-top: 60px;
    position: absolute;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--laranja);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.005);
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    display: flexbox;
}

.openbtn:hover {
    background-color: var(--laranja);
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/*primeira div*/
.Home{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.content{
    margin-top: 50px;
}
.logo{
    height: 250px;
    margin-top: 200px;
    margin-top: 50px;
    padding-top: 200px;
}
.title{
    color: white;
    margin: 60px;
}


.twitch_bnt{
    height: 80px;
    padding: 20px;
    transition: all .5s;
    border: 10px solid transparent;

}
.twitch_bnt:hover{
    height: 80px;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    border: 10px solid #833AAE;
    border-radius: 50%;

}

/* Servidores */

.servidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.servidores h1 {
    color: #ee620c;
}

.box-servidores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.box-left {
    background-color: #3C3C3C;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 750px;
    min-height: 750px;
}

.box-left ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-right {
    background-color: #3C3C3C;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 750px;
    min-height: 750px;
}

.nossos-servidores {
    text-align: center;
}

.btn-servidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-servidores button {
    all: unset;
    background-color: #ee620c;
    color: #fff;
    padding: 20px;
    min-width: 300px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease;
}

.btn-servidores button:hover {
    transform: scale(1.2);
    min-width: 500px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog {
    background-color: #3C3C3C;
    border: none;
    border-radius: 12px;
    padding: 20px;
    width: 60%;
}

.euro-truck, .ark, .minecraft, .valheim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 18px;
    color: #fff;
    background-color: #303030;
    padding: 20px;
    border-radius: 12px;
}
.euro-truck button, .ark button, .minecraft button, .valheim button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.euro-truck button:hover, .ark button:hover, .minecraft button:hover, .valheim button:hover {
    transform: scale(1);
}

.euro-truck span, .ark span, .minecraft span, .valheim span {
    color: #ee620c;
    font-weight: bold;
    font-size: 24px;
}

.como-jogar {
    text-align: center;
}

.como-jogar p a {
    color: #ee620c;
}

.como-jogar p span {
    text-decoration: underline;
    font-weight: bold;
}

.prioridade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prioridade ul {
    list-style: none;
}

.prioridade ul li span {
    color: #ee620c;
    font-size: 18px;
}

/* Contatos */

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contatos h1 {
    color: var(--laranja);
}

.contatos-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contatos-left, .contatos-right {
    background-color: #3C3C3C;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 500px;
    min-height: 500px;
    max-height: 600px;
}

.contatos-left h3, .contatos-right h3, .contatos-left span, .contatos-right span {
    color: var(--laranja);
}

.contatos-left ul, .contatos-right ul {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.contatos-left a, .contatos-right a {
    color: #fff;
    text-decoration: underline;
}













/* rodapé*/

/* rodapé
footer {
	background-color: #000000; 
	color: var(--laranja);
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}